.navbar-brand span{
    color: #5e13ad;
}
.navbar{
    margin: 0px;
    padding: 0px;
}
.navbar-brand{
     padding-right: 300px;
     font-weight: bold;
     padding-left: 20px;
     font-size: 23px;
}


.navbar-nav .nav-item .nav-link{
    padding: 10px;
    margin: 0px;
    color: black;
    font-size: 20px;
    padding-left: 60px;
}
.navbar-nav .nav-item .nav-link i{
    padding-left: 20px;
    padding-right: 5PX;
}

.collapse{
    background-color: #5e13ad;
    border-radius: 170px 0 0  0;
    margin: 0px;
    padding: 10px
}

/* start vedio */
.vide {
    width: 100%;
    height: 700px;
}
.vide .type{
    color: #5e13ad;
    position: absolute;
    text-align: center;
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    font-size: 50px;
    margin-top: 8%;
    margin-left: 25%;
    font-family: cursive;
    word-spacing: 3px;
    letter-spacing: 2px;
}

/* new collection */
.newcollection{
    background-color: #dfccf3;
    padding-left: 50px;
    padding-bottom: 50px;
}
.title h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
}
.cards{
    width: 230px;
    height: 330px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.cards img{
    width: 100%;
    height: 100%;    
}
.test h5{
    font-family: cursive;
    letter-spacing: 1.7px;
}
.test i{
    padding: 5px;
    font-size: 20px;
}
.test i:hover{
    color: #5e13ad;
    font-size: 25px;
}
.test{
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 230px;
    height: 80px;
    text-align: center;
}

/* start raiting */

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating input {
    display: none
}

.rating label {
    position: relative;
    font-size: 80px;
    color: #5e13ad;
    cursor: pointer
}

.rating label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating label:hover:before,
.rating label:hover~label:before {
    opacity: 1 !important
}

.rating input:checked~label:before {
    opacity: 1
}

.rating:hover input:checked~label:before {
    opacity: 0.4
}
.title p{
font-family: cursive;
font-size: 30px;
padding-top: 40px;
text-align: center;
}

/* footer */
.footer-top {
    background-color: #5e13ad;
    padding: 80px 0;

}
.part-two h2{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    padding-top: 20px;
    color: black;
}
.part-two h2::before{
    content: '|' ;
    color: black;
    padding-right: 5px;
}
.part-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.part-two ul li{
    line-height: 40px;
    border-bottom: 1px solid #dfccf3;
    width: 240px;

}
.part-two ul li a{
    text-decoration: none;
    color: #dfccf3;
}
.part{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    padding-top: 20px;
    color: black;
}
.part h2::before{
    content: '|' ;
    color: black;
    padding-right: 5px;
}
.part a{
    background-color: #dfccf3;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
}
.part a i{
    font-size: 20px;
    color: #5e13ad;
    padding: 8px 8px;
}
.part input[type=submit]{
    background-color: #dfccf3;
    border: none;
    padding: 3px 15px;
    color: black;
    text-transform: uppercase;
    margin: 5px 0;
}
.part input[type=text]{
    border: none;

}
